body{
  background-color: rgb(241, 238, 238);
}
.cinza-color{
    background-color: #F9F9F9;
    
}
.color{
  background-color: #eeebeb;
}
.estrutura{
  margin : 0 auto;
  width: 85%;
  height: 100%;
}
.Diego{
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
  
}
.fonts{
  font-family: 'Odibee Sans', cursive;
  font-family: 'Russo One', sans-serif;
  text-shadow: 1px 1px  rgb(2, 2, 2);
}
.font2{
  font-family: 'Odibee Sans', cursive;
  font-family: 'Russo One', sans-serif;
}
.img1{
  background-image: url("img/img1.png");
  height: 500px;
  width: 280px;

}
#linha-vertical {
  padding-left: 40px;
  height: 80px;
  border-right: 1px solid rgb(73, 73, 73);
}
.idiomas .ativo {
  font-weight: bold;
}

.idiomas a:link {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  
  font-family: 'Poppins', sans-serif;
}

.slider{
  max-width: auto;
  
}
.slider .card{
 
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #5a5a5a;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #5a5a5a;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}

@media only screen and (max-width: 693px) {
  .fotocontato{
    display: none;
  }
  .footer{
    font-size: 10px;
  }
  .diego{
    display: none;
  }
  .card{
    height: auto;
  }
  .slider .card .img{
    height: 100px;
    width: 100%;
  }
  .slider .card .content{
    padding: 2px 8px;
  }
  .card .content .title{
    font-size: 15px;
    font-weight: 300;
  }
  .card .content .sub-title{
    font-size: 8px;
    font-weight: 100px;
    color: #5a5a5a;
    line-height: 10px;
  }
  .card .content p{
    text-align: justify;
    margin: 2px 0;
  }
  .card .content .btn{
    display: block;
    text-align: left;
    margin: 2px 0;
  }
  .card .content .btn button{
    background: #5a5a5a;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    padding:2px 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .sub1{
    font-size: 15px;
  }
}